<h1>Componentes en Angular</h1>

<h2>{{nombre}}</h2>
<p>Producto: {{producto}}</p>

<button (click)="cambiarNombreProducto()">Cambiar Producto</button>

<p>Marca: {{marca}}</p>
<strong>Precio: ${{precio}}</strong>
<p>Descripcion: {{descripcion}}</p>
<ul>
  <li>Windows 11 Home</li>
  <li>NVIDIA® GeForce RTX™ 4070 Laptop GPU</li>
  <li>Procesador Intel® Core™ Ultra 9 185H</li>
  <li>16" 2.5K (2560 x 1600, WQXGA) 16:10 240Hz OLED Pantalla ROG Nebula</li>
  <li>Almacenamiento 1TB M.2 NVMe™ PCIe® 4.0 SSD</li>
</ul>

@if(mostrar_descuentos == true) {
  <button (click)="ocultarDescuentos(false)">Ocultar Descuentos</button>
} @else {
  <button (click)="ocultarDescuentos(true)">Mostrar Descuentos</button>
}

@if(mostrar_descuentos == true) {

  <Mi-Descuentos></Mi-Descuentos>

}
